* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

div {
  margin: 0 auto;
}

.background {
  max-width: 1920px;
  height: 100vh;
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
}

.overlay {
  max-width: 1920px;
  height: 100vh;
  background-color: #306cb1;
  background-repeat: no-repeat;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.wrapper {
  width: 920px;
  height: 822px;
  border: 5px solid blue;
  border-radius: 5%;
  background-color: #ffffff;

  box-shadow: ;
  position: relative;
}

.header {

}

.form {
  width: 920px;
  height: 432px;
  background-color: #75aa38;
  position: absolute;
  z-index: 1;
  margin-top: 205px;
}

.footer {

}
