* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 0 auto;
}

.container {
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: #306cb1;
  opacity: 60%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.form {
  position: absolute;
  width: 920px;
  height: 820px;
  border: 3px solid blue;
  border-radius: 5%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px 4px;
}

.header {
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrap {
  width: 461px;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
}

.header__list {
  list-style: none;
  width: 296px;
  height: 12px;
  font-size: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__list::before {
  content: url(../assets/img/wave.png);
  position: absolute;
  top: -40px;
  left: 118px;
}

.header__item {
}

.header__link {
  text-decoration: none;
}

.header__title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 32px;
  position: relative;
}

.header__title::after {
  content: url(../assets/img/wave.png);
  position: absolute;
  top: 40px;
  left: 175px;
}

.content {
  height: 432px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__wrap {
  width: 500px;
  height: 332px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content__form {
  width: 500px;
  height: 332px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__input {
  width: 500px;
  height: 40px;
  border: solid;
  border-color: #b3cbda;
  position: relative;
}

.content__input::placeholder {
  font: 400 13px Arial;
  color: #c1c1c1;
  padding-left: 13px;
}

.content__textarea {
  width: 500px;
  height: 147px;
  outline: none;
  border: solid;
  border-color: #b3cbda;
}

.content__textarea::placeholder {
  font: 400 13px Arial;
  color: #c1c1c1;
  padding-left: 13px;
  padding-top: 12px;
}

.footer {
  height: 183px;
}

.footer__wrap {
  width: 500px;
  height: 60px;
  margin-top: 40px;
}

.footer__form {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer__captcha {
  position: relative;
}

.footer__captcha::after {
  content: "Введите код на картинке справа";
  width: 197px;
  height: 11px;
  font: 400 3px Arial;
  color: #82a6bf;
  position: absolute;
  top: 45px;
  left: 0;
}

.footer__input {
  width: 320px;
  height: 40px;
  overlay: none;
  background-color: #f8f8f8;
}

.footer__img {
  width: 160px;
  height: 60px;
}

.footer__btn {
  width: 208px;
  height: 66px;
  color: white;
  font-size: 20px;
  background-color: #16ba98;
  border: transparent;
  position: absolute;
  bottom: -33px;
  right: 356px;
}
