* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

div {
  margin: 0 auto;
}

.background {
  max-width: 1920px;
  height: 100vh;
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  max-width: 1920px;
  height: 100vh;
  background-color: #306cb1;
  opacity: 60%;
}

.form {
  width: 920px;
  height: 820px;
  border: 2px solid blue;
  border-radius: 5%;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: -410px;
  left: 496px;
  box-shadow: 0 0 40px 4px;
}

.header {
  height: 205px;
}

.main {
  height: 432px;
  background-color: #f8f8f8;
}

.footer {
  height: 183px;
}
